# NOVO

db.sqlite3

museuapp/__pycache__/*

apps/__pycache__/*
apps/migrations/*

apps/movements/__pycache__/*
apps/movements/migrations/*

apps/artists/__pycache__/*
apps/artists/migrations/*

apps/adresses/__pycache__/*
apps/adresses/migrations/*

/apps/visitors/__pycache__/*
/apps/visitors/migrations/*

/apps/orders/__pycache__/*
/apps/orders/migrations/*

.env
