# NOVO

db.sqlite3

museuapp/__pycache__/*

apps/__pycache__/*
apps/migrations/*

apps/movements/__pycache__/*
apps/movements/migrations/*

apps/museums/__pycache__/*
apps/museums/migrations/*

apps/artists/__pycache__/*
apps/artists/migrations/*

apps/addresses/__pycache__/*
apps/addresses/migrations/*

/apps/visitors/__pycache__/*
/apps/visitors/migrations/*

/apps/orders/__pycache__/*
/apps/orders/migrations/*

.env
